/*from medium view to large changing/breaking at ~1024px	*/
    
@media only screen and (min-width: 64em){
    
#logo{
    width: 15%;
    margin-left: 15%;
    margin-right: 10%;
    }
    
    .secondsec{
        flex-direction: column ;
    }
    
    .secondsec picture {
        width: 100%;
        
    }
    
    #sunemot {
        width: 100px;
    }
    #gallerysec {
        grid-template-columns: auto auto auto;    
    }
}