* {
    text-align: center;
    font-family: 'Lato', sans-serif;

}

body {}

.hamburger {
    display: block;
    position: absolute;
    top: 2.0rem;
    right: 1.25rem;
    z-index: 1300;
}

.navigation {
    list-style: none;
    padding-left: 0;
}

.navigation li {
    display: none;
}

/* When the responsive class is added to the unordered list on hamburger button click 
placed in a media query in order to accomodate the toggle when in wider view*/

@media only screen and (max-width: 37.5em) {
    .navigation.responsive {
        position: relative;
        z-index: 1200;
    }
    .navigation.responsive li {
        background-color: #eee;
        display: block;
        width: 100%;
        margin: 2px 0;
        border: 1px solid #ddd;
    }
    .navigation.responsive li a {
        padding: 1rem;
        text-align: center;
        display: block;
        text-decoration: none;
    }
    .navigation.responsive li a:hover {
        background-color: #ddd;
    }
}

header {
    position: absolute;
    width: 100%;
    display: flex;
}

nav {
    width: 100%;
    position: absolute;
}

#logo {
    z-index: 1000;
    width: 70px;
}

header div h1 {
    width: 100%;
    font-size: 20px;
    margin-left: 5%;
    color: darkorange;
    margin-top: 10px;
}

header div h2 {
    width: 100%;
    font-size: 13px;
    margin-left: 5%;
}

.active {
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    background-color: darkgoldenrod;
}

.mainimage {
    width: 100%;
}


#logo {
    width: 70px;
    height: 70px;
    margin-left: 5%;
}

#weathersection div {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    align-self: center;
}

#weathertitle {
    flex: 1 100%;
}

#weathercondition {
    width: 150px;
    height: 100px;
    flex: 2 50%;
    order: 1;

}

#weathercondition img {
    width: 100px;
}

#weathertemp {
    font-size: 30px;
    margin: 0;
    flex: 2 50%;
    order: 2;
}

#weathertemp img {
    width: 60px;
    height: 60px;
    margin-top: 15px;
}

.parallax {
    /* The image used */
    background-image: url('../images/MontanaLandscape.jpg');

    /* Full height */
    height: 400px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Options */

#siteoptions {
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto;
    width: 100%;
}

#siteoptions a img {
    width: 90%;
    margin-top: 40px;
}

#siteoptions a {
    text-decoration: none;
}

#siteoptions p {
    font-size: 30px;
    margin-top: -50px;
    color: darkorange;
    text-decoration: none;

}

#siteoptions a img:hover {
    box-shadow: 5px 5px 10px gray;

}

/* Footer */

footer {
    background-color: darkorange;
    padding-top: 10px;
    width: 100%;
    margin: auto;
    margin-top: 20px;
}

.footertitle {
    font-weight: bold;
}

.contact p {
    margin-top: 0px;
    margin-bottom: 5px;
}

.footer-bar {
    margin-top: 10px;
    background-color: darkorange;
    color: white;
}

/* Tours Options */

#toursoptions {
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto;
    width: 100%;
}

#toursoptions a img {
    width: 90%;
    margin-top: 40px;
}

#toursoptions a {
    text-decoration: none;
}

#toursoptions div p {
    color: black;
    text-align: left;
    font-family: lora;
    margin-left: 5%;
    margin-right: 5%;
}


#toursoptions a p {
    font-size: 30px;
    color: darkorange;
    text-decoration: none;
    text-align: center;
}

#siteoptions a img:hover {
    box-shadow: 5px 5px 10px gray;
}

/* EVENT PAGE */

#eventtitle {
    top: 150px;
    font-size: 20px;
    color: darkorange;

}

#eventdata {
    display: grid;
    grid-template-columns: 100%;
    font-size: 14px;
    color: darkorange;
}

#eventdata p {
    margin: 10px 10%;
}

/* SHOP PAGE */

#ShopOptions {
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    
}

#ShopOptions a {
    border: 1px solid black;
    margin-left: 5%; 
    margin-right: 5%;
    margin-bottom: 5%;
}


#ShopOptions a img {
    width: 90%;
}

#ShopOptions a {
    text-decoration: none;
}

#ShopOptions p {
    font-size: 30px;
    margin-top: -10px;
    color: darkorange;
    text-decoration: none;
    
}

#ShopOptions a div p {
    margin-top: 0px;
    margin-left: 7%;
    margin-right: 7%;
    color: black;
    font-size: 14px;
}
#ShopOptions a:hover {
    box-shadow: 5px 5px 10px gray;
}

#servicesbtn {
    font-size: 20px;
    background-color: darkorange;
    width: 300px;
    text-decoration: none;
    color: black;
}

/* Service PAGE */

#tablesection{
    margin: 0 auto;
    margin-top: 30px;
    width: 50%;
}

/* FORM */

form {}

fieldset {
    border: 1px solid black;
    border-radius: 10px;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 30px;
}

label {
    text-align: left;
    display: block;
    padding-top: 1.5rem;
}

input,
select {
    display: block;
    padding: .75em;
    text-align: left;
}

span {
    display: block;
}

.Userdanger {
    text-align: left;
    padding-top: 1.5rem;
}

.Userdanger input {
    float: left;
    display: inline-block;
}

.submitBtn {
    margin: 0 auto;
}
