/* from small view to medium view changing/breaking at ~600px	*/

/* 6a274f6ccb2c7781e5011ec433a0f665 */

@media only screen and (min-width: 37.5em) {


    .hamburger {
        display: none;
    }

    table {
        border-collapse: collapse;
    }

    header {
        position: absolute;
        width: 100%;
        z-index: 1000;
    }

    header div {
        position: relative;
        z-index: 1100;
        display: block;
        margin-top: 17px;
        width: 110px;
    }

    header div h1 {
        color: black;
        font-size: 10px
    }

    header div h2 {
        color: black;
        font-size: 10px
    }

    @media only screen and (min-width: 57.5em) {

        header div {
            position: relative;
            z-index: 1100;
            display: block;
            margin-top: 5px;
            width: 300px;
        }

        header div h1 {
            color: black;
            font-size: 30px;
            margin-left: 0px;
            margin-bottom: 0px;
        }

        header div h2 {
            color: black;
            font-size: 20px;
            margin-left: 0px;
            margin-top: 7px;
        }

    }



    #logo {
        width: 100px;
        height: 100px;
        margin-left: 10%;
    }

    nav {
        position: absolute;
        max-width: 1400px;
        background-color: darkorange;
        width: 100%;
        height: 100px;
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 100%;
    }

    nav ul {
        position: absolute;
        right: 0px;
        width: 60%;
    }

    .navigation li {
        display: inline-flex;
        margin-left: .25rem;
        margin-top: 10px;
    }

    .navigation a {
        display: flex;
        color: #eee;
        padding: .5rem;
        text-align: center;
        text-decoration: none;
    }

    #listcitysec div {
        float: left;
        width: 33.33%;
    }

    .secondsec {
        display: flex;
        justify-content: space-between;
    }

    .secondsec picture {
        width: 75%;
    }

    .weather-summary {

        margin: 0 auto;
    }
    #sunemot {
        width: 100px;
    }

    .forecast {
        display: flex;
        border: 1px solid black;
        width: 90%;
        margin: 2em;
        background-color: gray;
    }


    .forecast table {
        width: 100%;
        border: 1px solid;
        background-color: #f3f3f3;
    }
    th,
    td {
        border: 1px solid;
    }


    article {
        margin: auto;
    }

    .articlediv {
        display: flex;
    }
    article p,
    .articlepic {
        width: 50%;
    }
    #gallerysec {
        grid-template-columns: auto auto;
    }
}
