/* from small view to medium view changing/breaking at ~600px	*/

@media only screen and (min-width: 37.5em) {


    .hamburger { display: none;}

.navigation li { display: inline-block; }
   table {
    border-collapse: collapse;
}
    
    #logo{
    width: 20%;
    margin-left: 5%;
    }

    header h2 {
        width: 60%;
    }
    nav {
        display: inline-block;
        background-color: #8EB0CD;
        width: 90%;
        float: left;
    }
    

    nav ul {
        list-style-type: none;
        text-align: center;
        padding: 0;
        color: black;
    }

    nav ul li {
        display: inline;
        color: black;
    }

    .mainimage {
        float: left;
        width: 50%;
    }
    
    .weather-summary {
        float: left;
        width: 50%; 
        height: 100;
    }
    
    .forecast {
        float: left;
       display: inline-block;
        border: 1px solid black;
        width: 90%;
        margin: 2em;
        background-color: gray; float: left;
    }
    .forecast h3 {
        margin-bottom: 20px;
        width: 100%;

    }
    .forecast table {
        text-align: center;
        width: 100%;
        border: 1px solid;
        background-color: #f3f3f3;
    }
    th, td {
         border: 1px solid;
    }
    article{
        float: left;
        margin: auto;
        width: 90%;
    }
    
    article p, articlepic{
        
        float: left
        
    }
    article p, .articlepic{
        width: 50%;
    }
    
}