* {
    text-align: center;
    font-family: arial;

}

nav {
    display: none;
}

.mainimage {
    width: 100%;
}

.forecast {
    display: none;
}

#logo{
    width: 30%;
    margin-left: 5%;
}

header h1 {
    width: 60%;
}

header img, header h1, header h2 {
    float: left;
}

header h1 {
    color: blue;
}

.current {
    float: left;
    width: 100%;
}

.current p {
    width: 40%;
    float: left;
    text-align: 
}

.current picture img {
    width: 30%;
        float: left;
}

.highlow p{
    float:left;
    width: 50%;
}

.conditions {
    width: 100%;   
}

article {
    margin: auto;
    width: 90%;
    border: 1px solid gray;
}

footer {
    background-color: #8EB0CD;
    padding-top: 10px;
    width: 90%;
    margin: auto;
}

.footertitle{
    font-weight: bold;
}

.contact p {
    margin-top: 0px;
    margin-bottom: 5px;
}

.footer-bar{
    margin-top: 10px;
    background-color: #007EC4;
    color: white;
}

.articlepic {
    width: 80%;
}
