/* from small view to medium view changing/breaking at ~600px	*/

@media only screen and (min-width: 37.5em){
    
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}



}


    
